.Sidebar {
    width: 17em;
    height: 100vh;
    background-image: var(--background-image);
    top: 0;
    position: fixed;
    display: grid;
    left: 0;
    border-right: 2px solid var(--main-color);
    transition: 0.1s ease-out;
    z-index: 1;
}

.Sidebar .logo {
    justify-self: center;
    position: relative;
    width: 75%;
    display: grid;
    grid-auto-rows: min-content;
    margin-top: 3em;
    padding-top: 1em;
    color: var(--main-color);
    height: min-content;
}

.logo::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-top: 0.3em solid var(--main-color);
    border-left: 0.3em solid var(--main-color);
    top: 0;
    left: 0;
}

.logo::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    border-top: 0.3em solid var(--main-color);
    border-right: 0.3em solid var(--main-color);
    top: 0;
    right: 0;
}

.logo .outer {
    justify-self: center;
    color: var(--secondary-color);
}

.logo .inner {
    position: absolute;
    top: 1.1em;
    justify-self: center;
}

.logo h2 {
    justify-self: center;
}

.Sidebar .mobile_navbar {
    display: none;
}

.Sidebar .mylist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mylist .list {
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.65em 0;
    position: relative;
    width: 75%;
    cursor: pointer;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

.list .list_icon {
    margin-top: 0.25em;
    font-size: 1.4em;
}

.list span {
    font-size: 1.4em;
    font-family: 'Permanent Marker', cursive;
    text-transform: uppercase;
    text-align: right;
}

.list:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--secondary-color);
}

.list::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 50%;
	width: 0%;
	height: 2px;
	background: var(--main-color);
	transition: 0.5s;
}

.list:hover::after {
	left: 0;
    width: 100%;
}

.Sidebar .settings {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25%;
    position: relative;
    justify-content: center;
}

.settings .settings_button {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--secondary-color);
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    color: var(--main-color);
}

.settings .theme {
    margin-top: 1.2em;
    border: 2px solid var(--main-color);
    position: absolute;
    background-color: white;
    width: 80%;
    height: 6.25em;
    top: 2.5em;
    left: 1.5em;
    border-radius: 2em;
    display: grid;
    grid-template-columns: repeat(4, 2.5em);
    padding-top: 0.625em;
    justify-content: space-evenly;
    z-index: 3;
}

.settings .theme::before {
	content: "";
	position: absolute;
	top: -1em;
	left: 31%;
	border: 0.5em solid transparent;
	border-bottom-color: var(--main-color);
}

.theme .color {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    cursor: pointer;
}

.color.red {
    background-color: rgb(233, 34, 34);
}

.color.blue {
    background-color: rgb(41, 111, 202);
}

.color.green {
    background-color: green;
}

.color.orange {
    background-color: rgb(255, 123, 0);
}

.color.pink {
    background-color: rgb(255, 112, 136);
}

.color.purple {
    background-color: rgb(182, 3, 182);
}

.color.cyan {
    background-color: rgb(0, 146, 102);
}

.color.brown {
    background-color: brown;
}

.Sidebar .languages {
    display: grid;
    width: 100%;
    grid-template-columns: 25% 25%;
    position: relative;
    justify-content: center;
}

.languages img {
    justify-self: center;
    width: 3.125em;
    height: 3.125em;
    border-radius: 50%;
    transition: 0.5s;
}

.languages img:hover {
    cursor: pointer;
    transform: scale(1.2);
    opacity: 0.7;
}

@media (max-width: 1300px) {
    .Sidebar {
        width: 6em;
        border-bottom-right-radius: 0;
    }

    .Sidebar.closed {
        height: 6em;
        border-bottom: 2px solid var(--main-color);
    }
    
    .Sidebar .logo {
        display: none;
    }

    .Sidebar .mobile_navbar {
        margin-top: 1.5em;
        display: grid;
        justify-content: center;
        height: 4.5em;
        border-bottom: 2px solid var(--main-color);
    }

    .mobile_navbar .mobile_navbar_icon {
        color: var(--main-color);
    }

    .mylist.closed {
        display: none;
    }
    
    .mylist .list {
        grid-template-columns: 100%;
        margin: 0;
        width: 100%;
        height: 4.7em;
        border-bottom: 2px solid var(--main-color);
    }
    
    .list .list_icon {
        justify-self: center;
    }
    
    .list span {
        font-size: 1em;
        text-align: center;
        justify-self: center;
        width: 85%;
    }
    
    .Sidebar .settings {
        grid-template-columns: 50%;
        height: 7.5em;
    }

    .settings.closed {
        display: none;
    }
    
    .settings .theme {
        width: 12em;
        left: 0.5em;
    }

    .settings .theme::before {
        left: 16%;
    }
    
    .Sidebar .languages {
        grid-template-columns: 50%;
        height: 7.5em;
    }

    .languages.closed {
        display: none;
    }
}

@media (min-width: 481px) {
    .Sidebar .mobile_navbar {
        display: none;
    }
}